* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #06000b00, #dc7a34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 40px;
}

.form-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #800000;
    color: white;
    border: none;
    cursor: pointer;
}
